.homepage {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-left: 20px;
  padding-bottom: 20px;
}

.main h1 {
  font-size: 24px;
  line-height: 36px;
  margin-top: 7rem;
}

.main p {
  padding-top: 10px;
  font-size: 14px;
  line-height: 24px;
}

.btnlogo {
  /* color: #fff; */
  width: 15px;
  filter: brightness(0) invert(1);
  padding-right: 5px;
  vertical-align: middle;
}

#btn3 {
  font-size: 12px;
  padding: 8px 12px;
  margin: 40px 5px;
}

.theimage {
  position: relative;
}

.phone1,
.phone2,
.phone3 {
  position: absolute;
}

.phone1 {
  z-index: 1;
  top: 5px;
  left: -10px;
}

.phone2 {
  z-index: 1;
  top: -20px;
  left: 60px;
}

.phone3 {
  z-index: 0;
  top: 0;
  left: 180px;
}

.quote {
  margin-top: 20rem;
  font-size: 18px;
}

.thesocials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.thesocials li {
  padding: 0 2PX;
}

.thesocials img {
  width: 90%;
}

@media screen and (min-width: 768px) {
  .main h1 {
    font-weight: 700;
    font-size: 40px;
    width: 45%;
    line-height: 58.5px;
    margin-left: 24rem;
    margin-top: 7rem;
  }

  .main p {
    font-size: 18px;
    width: 60%;
    margin-left: 18rem;
  }

  .btnlogo {
    width: 20px;
  }

  .buttons {
    /* margin-left: 0rem; */
  }

  #btn3 {
    font-size: 18px;
    padding: 10px 12px;
    margin: 40px 10px;
  }

  .theimage {
    margin-left: 29rem;
  }

    
  .phone1 {
    width: 20rem;
    left: -150px;
  }

  .phone2 {
    width: 26rem;
    top: -30px;
    left: 40px;
  }

  .phone3 {
    width: 20rem;
    left: 320px;
  }

  .quote {
    margin-top: 45rem;
    font-size: 32px;
    margin-left: -1rem;
  }

  .thesocials {
    width: 40%;
    margin-left: 25rem;
  }
  
  .thesocials li {
    padding: 0;
  }
  
  .thesocials img {
    width: 130%;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main h1 {
    width: 80%;
    margin-left: 6rem;
    margin-top: 10rem;
  }

  .main p {
    width: 75%;
    margin-left: 8rem;
  }

  .buttons {
    margin-left: -1rem;
  }

  .theimage {
    margin-left: 18rem;
  }
    
  .phone1 {
    width: 17rem;
    left: -130px;
  }

  .phone2 {
    width: 23rem;
    top: -30px;
    left: 20px;
  }

  .phone3 {
    width: 17rem;
    left: 260px;
  }

  .quote {
    margin-top: 40rem;
    margin-left: 0;
  }

  .thesocials {
    margin-left: 18rem;
  }
}