.offers {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.the-offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.one-two {
  display: flex;
  flex-direction: row;
}

.offers h1 {
  text-align: center;
  padding: 3rem 2rem;
  font-size: 20px;
}

.offer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 165px;
  margin: 5px;
}

.offer:hover {
  border-top: solid 1px #703edf;
}

.offer h1 {
  font-size: 16px;
  padding: 3px;
  margin: 1rem 0;
  border-radius: 70px;
  display: none;
}

.offer:hover h1 {
  display: block;
  color: #fff;
  background-color: #703edf;
  width: 6.5vw;
  text-align: center;
  margin-bottom: 5px;
}

.offer h3 {
  font-size: 16px;
  padding: 10px 0;
}

.offer:hover h3 {
  color: #703edf;
}

.offer p {
  padding: 0 5px;
  font-size: 12px;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .servicepage {
    padding-top: 4rem;
  }

  .offers {
    margin-bottom: 4rem;
    padding-left: 0;
  }

  /* .the-offers {
    padding-left: 0;
  } */

  .offer {
    max-width: 230px;
  }

  .offer:hover h1 {
    width: 2.7vw;
  }

  .offer h3 {
    font-size: 14px;
    padding: 10px 0;
  }

  .offer p {
    padding: 0 5px;
    font-size: 12px;
    margin: 0.2rem 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .offers {
    margin-bottom: 4rem;
    padding-left: 0;
  }

  #unlock {
    font-size: 30px;
    padding: 3rem 20rem;
  }

  /* .the-offers {
    padding-left: 14px;
  } */

  .offer {
    max-width: 320px;
  }

  .offer:hover h1 {
    width: 2vw;
  }

  .offer h3 {
    font-size: 18px;
    padding: 10px 0;
  }

  .offer p {
    padding: 0 5px;
    font-size: 15px;
    margin: 0.2rem 0.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .servicepage {
    padding-top: 5rem;
  }

  .offers {
    margin-bottom: 4rem;
    padding-left: 0;
  }

  #unlock {
    font-size: 40px;
    padding: 3rem 30rem;

    /* margin-top: 4rem; */
  }

  /* .the-offers {
    padding-left: 2.5rem;
  } */

  .offer {
    max-width: 450px;
  }

  .offer h1 {
    font-size: 25px;
  }

  .offer:hover h1 {
    padding: 5px;
    width: 2.2vw;
  }

  .offer h3 {
    font-size: 25px;
    padding: 10px 0;
  }

  .offer p {
    padding: 0 5px;
    font-size: 20px;
    margin: 0.2rem 0.5rem;
  }
}
